<!--
including header content which is common for all pages
-->
<%- include layouts/header.ejs %>   

<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>DASHBOARD</h1>
    <p>MODIFICAR Y AGREGAR DASHBOARD</p>
    <p>
        <a class="btn btn-lg btn-primary" href="#" role="button">Profile view »</a>
    </p>
</div>
<!--
including footer content which is common for all pages
-->
<%- include layouts/footer.ejs %>

